//Created by nicholase on 8/03/2015.

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title INSPINIA | Login
    link(href='/styles/bootstrap.min.css', rel='stylesheet')
    link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='/styles/animate.css', rel='stylesheet')
    link(href='/styles/style.css', rel='stylesheet')
  body.gray-bg
    .middle-box.text-center.loginscreen.animated.fadeInDown
      div
        div
          h1.logo-name &nbsp;
        h3 Welcome to INVOICING
        p Login in invoicing app.
        form.m-t(role='form', action='/login', method='POST')
          .form-group
            input.form-control(type='username', placeholder='Username', required='', name='username')
          .form-group
            input.form-control(type='password', placeholder='Password', required='', name='password')
          button.btn.btn-primary.block.full-width.m-b(type='submit') Login
          a.btn.btn-default.block.full-width-m-b(href='/auth/facebook')
            i.fa.fa-facebook
            | &nbsp;Login Facebook
        p.m-t
          small Invoicing App @Nicky
    //
        Mainly scripts
    script(src='/js/jquery-2.1.1.js')
    script(src='/js/bootstrap.min.js')
