//Created by nicholase on 30/03/16.
extends ../layout

block head
  link(rel='stylesheet', href='/css/plugins/dataTables/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/css/plugins/dataTables/dataTables.responsive.css')
block foot
  //Data Tables
  script(src="/js/plugins/dataTables/jquery.dataTables.js")
  script(src="/js/plugins/dataTables/dataTables.bootstrap.js")
  script(src="/js/plugins/dataTables/dataTables.responsive.js")
  script(src='/js/pages/stock/index.js')

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-10
      h2 Stock
      ol.breadcrumb
        li
          a(href='/authenticated/index') Home
        li.active
          strong Settings
    .col-lg-2
  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-3
        .ibox.float-e-margins
          .ibox-content
            a.btn.btn-primary(href='/authenticated/settings/new') Voeg Settings Toe
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Overzicht van alle Settings
            .ibox-tools
              a.collapse-link
                i.fa.fa-chevron-up
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.fa.fa-wrench
              ul.dropdown-menu.dropdown-user
                li
                  a(href='#') Config option 1
                li
                  a(href='#') Config option 2
              a.close-link
                i.fa.fa-times
          .ibox-content
            span content
